*{
    list-style: none;
    text-decoration: none;
}

.overall_container{
    margin: 6%;
}

.sign_up_grid_container{
    display: grid;
    grid-template-columns: 0.5fr 1fr;

    @media(max-width:650px){
        grid-template-columns: 0.7fr 1fr;
    }

    @media(max-width:500px){
        grid-template-columns: 1fr;
    }
}

/* Blue Background side */
.blue_sign_in_side{
    background-color: #0747A1;
    height: 100vh;
}

.logo{
    width: 30%;

    @media(max-width:500px){
        width: 40%;
    }

    @media(max-width:350px){
        width: 60%;
    }
}

.subcontent{
    text-align: center;
    margin-top: 10%;
    color: #ffffff;
}

.start_journey{
    font-weight: 600;
}

.btn_container{
    margin-top: 20%;
}

.sign_in_btn{
    color: #ffffff;
    font-family: 'avenir_next_lt_probold';
    padding: 2% 12%;
    border: 2px solid #ffffff;
    border-radius: 500px;
    transition: 0.5s ease-in-out;

    @media(max-width:630px){
        padding: 2.5% 12%;
    }
}

.sign_in_btn:hover{
    background-color: #ffffff;
    color: #0747A1;
}

/* Create Account Side */
.create_account_side{
    text-align: center;

    @media(max-width:500px){
        height: 100vh;
    }
}

.create_account{
    color: #0747A1;
    font-size: 60px;
}


.google_sign_up i{
    font-size: 20px;
    margin-right: 1%;
}

.google_sign_up a{
    background-color: #0747A1;
    color: #ffffff;
    padding: 1% 10%;
    border-radius: 500px;
    border: 2px solid transparent;
    transition: 0.5s ease-in-out;

    @media(max-width:630px){
        padding: 2% 10%;
    }
}

.google_sign_up a:hover{
    background-color: transparent;
    border: 2px solid #0747A1;
    color: #0747A1;
}

.or_statement{
    margin: 6% 0;

    @media(max-width: 700px){
        margin: 8% 0;
    }

    @media(max-width: 500px){
        margin: 12% 0;
    }
}

/* Form */
.input_container{
    width: 100%;
    padding: 1% 1%;
    display: flex;
    justify-content: center;

    @media(max-width:500px){
        padding: 2%;
    }
}

.input_container img{
    opacity: 0.6;
    width: 100%;
}

.img_input_container{
    background-color: #d1d0d0;
    padding: 1% 1.5%;
    width: 3%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; 

    @media(max-width:950px){
        padding: 2% 2%;
    }

    @media(max-width:650px){
        padding: 3% 3%;
        width: 6%;
    }
}

.input_container input{
    font-family: 'avenir_next_lt_proregular';
    font-size: 15px;
    background-color: #d1d0d0;
    outline: none;
    border: none;
    width: 40%;
    padding-left: 1%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    @media(max-width:950px){
        width: 50%;
    }

    @media(max-width:650px){
        width: 70%;
    }
}

.submit_sign_up_btn{
    cursor: pointer;
    font-family: 'avenir_next_lt_probold';
    font-size: 15px;
    border: none;
    background-color: #0747A1;
    color: #ffffff;
    border-radius: 500px;
    padding: 1.5% 7%;
    margin-top: 3%;

    @media(max-width:630px){
        padding: 2% 7%;
    }

    @media(max-width:500px){
        padding: 2.5% 15%;
    }
}

/* Sign In */
.sign_in_grid_container{
    display: grid;
    grid-template-columns: 1fr 0.5fr;

    @media(max-width:650px){
        grid-template-columns: 1fr 0.7fr;
    }

    @media(max-width:500px){
        grid-template-columns: 1fr;
    }
}

/* Blue Background side */
.blue_sign_up_side{
    background-color: #0747A1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.sign_in_logo{
    width: 15%;

    @media(max-width:500px){
        width: 25%;
    }

    @media(max-width:350px){
        width: 30%;
    }
}

.subcontent{
    text-align: center;
    margin-top: 10%;
    color: #ffffff;
}

.start_journey{
    font-weight: 600;
}

.btn_container{
    margin-top: 20%;
}

.sign_in_btn{
    color: #ffffff;
    font-family: 'avenir_next_lt_probold';
    padding: 2% 12%;
    border: 2px solid #ffffff;
    border-radius: 500px;
    transition: 0.5s ease-in-out;

    @media(max-width:630px){
        padding: 2.5% 12%;
    }
}

.sign_in_btn:hover{
    background-color: #ffffff;
    color: #0747A1;
}

.flex_sign_in{
    display: flex;
    flex-direction: column;
}

/* Create Account Side */
.sign_into_account_content{
    text-align: center;
    margin-top: -5%;

    @media(max-width:500px){
        margin-top: 0%;
        margin-bottom: 10%;
    }

    @media(max-width:460px){
        margin-top: 0%;
        margin-bottom: 20%;
    }

    @media(max-width:390px){
        margin-top: 0%;
        margin-bottom: 30%;
    }

    @media(max-width:350px){
        margin-top: 0%;
        margin-bottom: 60%;
    }

    @media(max-width:300px){
        margin-top: 0%;
        margin-bottom: 70%;
    }
}

.sign_into_account{
    color: #0747A1;
    font-size: 60px;
}

.google_sign_in a{
    background-color: #0747A1;
    color: #ffffff;
    padding: 1% 10%;
    border-radius: 500px;
    border: 2px solid transparent;
    transition: 0.5s ease-in-out;

    @media(max-width:630px){
        padding: 2% 10%;
    }
}

.google_sign_in a:hover{
    background-color: transparent;
    border: 2px solid #0747A1;
    color: #0747A1;
}

.or_statement{
    margin: 6% 0;

    @media(max-width: 700px){
        margin: 8% 0;
    }

    @media(max-width: 500px){
        margin: 12% 0;
    }
}

/* Form */
.input_container{
    width: 100%;
    padding: 1% 1%;
    display: flex;
    justify-content: center;

    @media(max-width:500px){
        padding: 2%;
    }
}

.input_container img{
    opacity: 0.6;
    width: 100%;
}

.img_input_container{
    background-color: #d1d0d0;
    padding: 1% 1.5%;
    width: 3%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; 

    @media(max-width:950px){
        padding: 2% 2%;
    }

    @media(max-width:650px){
        padding: 3% 3%;
        width: 6%;
    }
}

.input_container input{
    font-family: 'avenir_next_lt_proregular';
    font-size: 15px;
    background-color: #d1d0d0;
    outline: none;
    border: none;
    width: 40%;
    padding-left: 1%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    @media(max-width:950px){
        width: 50%;
    }

    @media(max-width:650px){
        width: 70%;
    }
}

.submit_sign_in_btn{
    cursor: pointer;
    font-family: 'avenir_next_lt_probold';
    font-size: 15px;
    border: none;
    background-color: #0747A1;
    color: #ffffff;
    border-radius: 500px;
    padding: 1.5% 7%;
    margin-top: 3%;

    @media(max-width:630px){
        padding: 2% 7%;
    }

    @media(max-width:500px){
        padding: 2.5% 15%;
    }
}

/* Overall Styles */
.overall_heads{

    @media(max-width:700px){
        font-size: 50px;
    }

    @media(max-width:350px){
        font-size: 40px;
    }
}

.chillax_heads{
    font-family: 'chillaxmedium';
}